
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family:  'Jost', sans-serif;
    font-size: 16px;
    line-height: 1;
}
h1,h2,h3,h4,h5,h6,p{
    display: block;
    width: 100%;
}
form label{
    margin-top: 10px;
}